In [3]:
# load pandas to deal with the data
import pandas as pd
# plotting
import matplotlib.pyplot as plt
import seaborn as sns
# create interactive plots
import plotly.express as px 
# numeric calculations
import numpy as np

In [4]:
# load data from table file where entries are separated with a space
data = pd.read_table("../data/flickr_data2.csv", sep=",")
# show first 5 rows of the dataframe
data.head()

C:\Users\ibrah\AppData\Local\Temp\ipykernel_77240\3779317642.py:2: DtypeWarning: Columns (11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_table("../data/flickr_data2.csv", sep=",")

,id,user,lat,long,tags,title,date_taken_minute,date_taken_hour,date_taken_day,date_taken_month,date_taken_year,date_upload_minute,date_upload_hour,date_upload_day,date_upload_month,date_upload_year,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,4395181099,30624617@N03,45.754858,4.821710,"chair,lyon,rh么ne,chaise,rh么nealpes",Chaises avec vue,11.0,15,28,2,2010,23,20,28.0,2,2010.0,NaN,NaN,NaN
1,4394748717,35853470@N00,45.753270,4.862953,NaN,NaN,51.0,17,28,2,2010,52,17,28.0,2,2010.0,NaN,NaN,NaN
2,4394694699,11817998@N05,45.760655,4.846564,"365,iphone",59/365 - R46 V103 B163,29.0,17,28,2,2010,33,17,28.0,2,2010.0,NaN,NaN,NaN
3,4394803790,11545749@N06,45.784000,4.874072,"nin,nineinchnails,gift,screening,toiou,avott",2010-01-29 Toiou Avott Lyon,15.0,20,28,1,2010,38,12,28.0,2,2010.0,NaN,NaN,NaN
4,4394803554,11545749@N06,45.784000,4.874072,"lyon,nin,nineinchnails,gift,screening,toiou,avott",2010-01-28 Toiou Avott Lyon,10.0,20,28,1,2010,38,12,28.0,2,2010.0,NaN,NaN,NaN

In [5]:
data.info()
len(data)
#data[data["Unnamed: 16"].notna()]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420240 entries, 0 to 420239
Data columns (total 19 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  420240 non-null  int64
 1   user                420240 non-null  object
 2   lat                 420240 non-null  float64
 3   long                420240 non-null  float64
 4   tags                316730 non-null  object
 5   title               381911 non-null  object
 6   date_taken_minute   420239 non-null  float64
 7   date_taken_hour     420240 non-null  int64
 8   date_taken_day      420240 non-null  int64
 9   date_taken_month    420240 non-null  int64
 10  date_taken_year     420240 non-null  int64
 11  date_upload_minute  420228 non-null  object
 12  date_upload_hour    420238 non-null  object
 13  date_upload_day     420238 non-null  float64
 14  date_upload_month   420240 non-null  int64
 15  date_upload_year    420239 non-null  float64
 16  Unnamed: 16         142 non-null     float64
 17  Unnamed: 17         0 non-null       float64
 18  Unnamed: 18         2 non-null       float64
dtypes: float64(8), int64(6), object(5)
memory usage: 60.9+ MB

420240

In [7]:
data[" date_taken_year"].dtype


#data[data["date_taken_year"] > 25]

KeyError: ' date_taken_year'