In [1]:
# load pandas to deal with the data
import pandas as pd
# plotting
import matplotlib.pyplot as plt
import seaborn as sns
# create interactive plots
import plotly.express as px 
# numeric calculations
import numpy as np

In [21]:
# load the data
data = pd.read_csv("../data/flickr_data2.csv", on_bad_lines='skip')
data.head()

/var/folders/_z/7wrjfg454jj78zbyn9kf7y4h0000gn/T/ipykernel_35034/997857100.py:2: DtypeWarning: Columns (11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("../data/flickr_data2.csv", on_bad_lines='skip')

,id,user,lat,long,tags,title,date_taken_minute,date_taken_hour,date_taken_day,date_taken_month,date_taken_year,date_upload_minute,date_upload_hour,date_upload_day,date_upload_month,date_upload_year,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,4395181099,30624617@N03,45.754858,4.821710,"chair,lyon,rhône,chaise,rhônealpes",Chaises avec vue,11.0,15,28,2,2010,23,20,28.0,2,2010.0,NaN,NaN,NaN
1,4394748717,35853470@N00,45.753270,4.862953,NaN,NaN,51.0,17,28,2,2010,52,17,28.0,2,2010.0,NaN,NaN,NaN
2,4394694699,11817998@N05,45.760655,4.846564,"365,iphone",59/365 - R46 V103 B163,29.0,17,28,2,2010,33,17,28.0,2,2010.0,NaN,NaN,NaN
3,4394803790,11545749@N06,45.784000,4.874072,"nin,nineinchnails,gift,screening,toiou,avott",2010-01-29 Toiou Avott Lyon,15.0,20,28,1,2010,38,12,28.0,2,2010.0,NaN,NaN,NaN
4,4394803554,11545749@N06,45.784000,4.874072,"lyon,nin,nineinchnails,gift,screening,toiou,avott",2010-01-28 Toiou Avott Lyon,10.0,20,28,1,2010,38,12,28.0,2,2010.0,NaN,NaN,NaN

In [22]:
# print dataset info
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420240 entries, 0 to 420239
Data columns (total 19 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id                   420240 non-null  int64
 1    user                420240 non-null  object
 2    lat                 420240 non-null  float64
 3    long                420240 non-null  float64
 4    tags                316730 non-null  object
 5    title               381911 non-null  object
 6    date_taken_minute   420239 non-null  float64
 7    date_taken_hour     420240 non-null  int64
 8    date_taken_day      420240 non-null  int64
 9    date_taken_month    420240 non-null  int64
 10   date_taken_year     420240 non-null  int64
 11   date_upload_minute  420228 non-null  object
 12   date_upload_hour    420238 non-null  object
 13   date_upload_day     420238 non-null  float64
 14   date_upload_month   420240 non-null  int64
 15   date_upload_year    420239 non-null  float64
 16  Unnamed: 16          142 non-null     float64
 17  Unnamed: 17          0 non-null       float64
 18  Unnamed: 18          2 non-null       float64
dtypes: float64(8), int64(6), object(5)
memory usage: 60.9+ MB
None

In [23]:
# Nombre total de lignes et colonnes
print("\nNombre total de lignes et colonnes :")
print(f"Lignes : {data.shape[0]}, Colonnes : {data.shape[1]}")

Nombre total de lignes et colonnes :
Lignes : 420240, Colonnes : 19

In [24]:
print("\nStatistiques descriptives")
print(data.describe(include='all'))  # Inclut toutes les colonnes

Statistiques descriptives
                  id          user            lat           long         tags  \
count   4.202400e+05        420240  420240.000000  420240.000000       316730
unique           NaN          5158            NaN            NaN        41736
top              NaN  40936370@N00            NaN            NaN  france,lyon
freq             NaN         34230            NaN            NaN         4119
mean    2.002697e+10           NaN      45.768173       4.839672          NaN
std     1.411384e+10           NaN       0.028575       0.031619          NaN
min     3.066675e+08           NaN      45.655200       4.720312          NaN
25%     7.094503e+09           NaN      45.757613       4.826202          NaN
50%     1.548087e+10           NaN      45.763152       4.832183          NaN
75%     3.145886e+10           NaN      45.773509       4.846558          NaN
max     4.914809e+10           NaN      45.854950       5.006709          NaN

         title   date_taken_minute   date_taken_hour   date_taken_day  \
count   381911       420239.000000     420240.000000    420240.000000
unique   97367                 NaN               NaN              NaN
top       Lyon                 NaN               NaN              NaN
freq      6129                 NaN               NaN              NaN
mean       NaN           30.068559         14.746695        15.456813
std        NaN           39.880117          6.583236         9.637870
min        NaN            0.000000          0.000000         1.000000
25%        NaN           14.000000         12.000000         8.000000
50%        NaN           30.000000         15.000000        15.000000
75%        NaN           45.000000         18.000000        23.000000
max        NaN         2019.000000       2013.000000      2013.000000

         date_taken_month   date_taken_year  date_upload_minute  \
count       420240.000000     420240.000000              420228
unique                NaN               NaN                 153
top                   NaN               NaN                  39
freq                  NaN               NaN                5655
mean             7.000493       2013.294256                 NaN
std              4.611831         37.141359                 NaN
min              1.000000          1.000000                 NaN
25%              4.000000       2012.000000                 NaN
50%              7.000000       2014.000000                 NaN
75%             10.000000       2017.000000                 NaN
max           2011.000000       2238.000000                 NaN

         date_upload_hour   date_upload_day   date_upload_month  \
count            420238.0     420238.000000       420240.000000
unique               69.0               NaN                 NaN
top                  22.0               NaN                 NaN
freq              29385.0               NaN                 NaN
mean                  NaN         16.398738            6.698277
std                   NaN          8.450967            4.672163
min                   NaN          0.000000            1.000000
25%                   NaN          9.000000            4.000000
50%                   NaN         17.000000            7.000000
75%                   NaN         24.000000           10.000000
max                   NaN         31.000000         2011.000000

         date_upload_year  Unnamed: 16  Unnamed: 17  Unnamed: 18
count       420239.000000   142.000000          0.0          2.0
unique                NaN          NaN          NaN          NaN
top                   NaN          NaN          NaN          NaN
freq                  NaN          NaN          NaN          NaN
mean          2013.648624  1958.880282          NaN       2012.0
std             37.006109   331.444924          NaN          0.0
min              1.000000    12.000000          NaN       2012.0
25%           2012.000000  2013.000000          NaN       2012.0
50%           2014.000000  2016.000000          NaN       2012.0
75%           2017.000000  2016.000000          NaN       2012.0
max           2019.000000  2019.000000          NaN       2012.0

In [25]:
print("\nNombre de valeurs nulles par colonne")
print(data.isnull().sum())

Nombre de valeurs nulles par colonne
id                          0
 user                       0
 lat                        0
 long                       0
 tags                  103510
 title                  38329
 date_taken_minute          1
 date_taken_hour            0
 date_taken_day             0
 date_taken_month           0
 date_taken_year            0
 date_upload_minute        12
 date_upload_hour           2
 date_upload_day            2
 date_upload_month          0
 date_upload_year           1
Unnamed: 16            420098
Unnamed: 17            420240
Unnamed: 18            420238
dtype: int64

In [26]:
print("\nPourcentage de valeurs nulles par colonne")
print((data.isnull().sum() / data.shape[0]) * 100)

Pourcentage de valeurs nulles par colonne
id                       0.000000
 user                    0.000000
 lat                     0.000000
 long                    0.000000
 tags                   24.631163
 title                   9.120741
 date_taken_minute       0.000238
 date_taken_hour         0.000000
 date_taken_day          0.000000
 date_taken_month        0.000000
 date_taken_year         0.000000
 date_upload_minute      0.002856
 date_upload_hour        0.000476
 date_upload_day         0.000476
 date_upload_month       0.000000
 date_upload_year        0.000238
Unnamed: 16             99.966210
Unnamed: 17            100.000000
Unnamed: 18             99.999524
dtype: float64

In [27]:
print("\nNombre de doublons")
print(data.duplicated().sum())

Nombre de doublons
232642

In [28]:
data

,id,user,lat,long,tags,title,date_taken_minute,date_taken_hour,date_taken_day,date_taken_month,date_taken_year,date_upload_minute,date_upload_hour,date_upload_day,date_upload_month,date_upload_year,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,4395181099,30624617@N03,45.754858,4.821710,"chair,lyon,rhône,chaise,rhônealpes",Chaises avec vue,11.0,15,28,2,2010,23,20,28.0,2,2010.0,NaN,NaN,NaN
1,4394748717,35853470@N00,45.753270,4.862953,NaN,NaN,51.0,17,28,2,2010,52,17,28.0,2,2010.0,NaN,NaN,NaN
2,4394694699,11817998@N05,45.760655,4.846564,"365,iphone",59/365 - R46 V103 B163,29.0,17,28,2,2010,33,17,28.0,2,2010.0,NaN,NaN,NaN
3,4394803790,11545749@N06,45.784000,4.874072,"nin,nineinchnails,gift,screening,toiou,avott",2010-01-29 Toiou Avott Lyon,15.0,20,28,1,2010,38,12,28.0,2,2010.0,NaN,NaN,NaN
4,4394803554,11545749@N06,45.784000,4.874072,"lyon,nin,nineinchnails,gift,screening,toiou,avott",2010-01-28 Toiou Avott Lyon,10.0,20,28,1,2010,38,12,28.0,2,2010.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420235,44402328654,90493526@N00,45.758316,4.825197,"europe,france,lyon,croixrousse,streetart,wheat...","Pasted paper by Big Ben [Lyon, France]",18.0,17,30,9,2018,11.0,23,5.0,10,2018.0,NaN,NaN,NaN
420236,44210748275,144146684@N04,45.762635,4.837299,NaN,white blood,36.0,16,5,10,2018,41.0,22,5.0,10,2018.0,NaN,NaN,NaN
420237,45122361361,95450872@N03,45.763657,4.836012,"auvergnerhônealpes,rhône,lyonnais,valléedurhôn...",Lyon - Porte Passage de l'Argue,48.0,19,27,9,2018,40.0,22,5.0,10,2018.0,NaN,NaN,NaN
420238,45073351222,95450872@N03,45.763657,4.836012,"auvergnerhônealpes,rhône,lyonnais,valléedurhôn...",Lyon - Passage de l'Argue,48.0,19,27,9,2018,29.0,22,5.0,10,2018.0,NaN,NaN,NaN
420239,45122093111,61949122@N06,45.758181,4.831967,"ngc,lyon,paysage,landscape,ville,urbain,town,tour",Une tour peut en cacher une autre,15.0,14,28,9,2018,21.0,22,5.0,10,2018.0,NaN,NaN,NaN

In [42]:
#éliminer les doublons
#data_sansdoublons = data.drop_duplicates()
#print(data_sansdoublons.duplicated().sum())
# Identifier les 3 dernières colonnes
#dernieres_colonnes = data_sansdoublons.columns[-3:]  #
#print("Les 3 dernières colonnes identifiées sont : ")
#print(dernieres_colonnes)
#len(data_sansdoublons)
#len(data_sansdoublons[data_sansdoublons[['Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18']].notna().any(axis=1)])
#data_sansdoublons[data_sansdoublons[['Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18']].notna().any(axis=1)]

In [ ]:
print("Détection des doublons\n")
# Nombre de doublons
nb_doublons = data.duplicated().sum()
print(f"Nombre de doublons exacts trouvés : {nb_doublons}")

# Afficher les lignes dupliquées 
doublons_mask = data.duplicated(keep=False)  # Marque toutes les occurrences
lignes_dupliquees = data[doublons_mask].sort_values(by=list(data.columns))

print(f"\nAperçu des {min(20, len(lignes_dupliquees))} premières lignes dupliquées :")
lignes_dupliquees.head(20)

=== DÉTECTION DES VRAIS DOUBLONS ===

Nombre de doublons exacts trouvés : 232642

Nombre total de lignes concernées (incluant les originaux) : 383732

Aperçu des 20 premières lignes dupliquées :

,id,user,lat,long,tags,title,date_taken_minute,date_taken_hour,date_taken_day,date_taken_month,date_taken_year,date_upload_minute,date_upload_hour,date_upload_day,date_upload_month,date_upload_year,Unnamed: 16,Unnamed: 17,Unnamed: 18
196652,306667535,46629827@N00,45.777056,4.857813,"france,zoo,lyon,animaux",P'tits Girafons,48.0,15,1,11,2005,0,12,19.0,10,2014.0,NaN,NaN,NaN
201070,306667535,46629827@N00,45.777056,4.857813,"france,zoo,lyon,animaux",P'tits Girafons,48.0,15,1,11,2005,0,12,19.0,10,2014.0,NaN,NaN,NaN
185977,306668760,46629827@N00,45.776518,4.857459,"france,zoo,lyon",Envoyez... :)),45.0,15,1,11,2005,0,0,25.0,7,2014.0,NaN,NaN,NaN
191022,306668760,46629827@N00,45.776518,4.857459,"france,zoo,lyon",Envoyez... :)),45.0,15,1,11,2005,0,0,25.0,7,2014.0,NaN,NaN,NaN
195749,306668760,46629827@N00,45.776518,4.857459,"france,zoo,lyon",Envoyez... :)),45.0,15,1,11,2005,0,0,25.0,7,2014.0,NaN,NaN,NaN
186464,1140570280,46629827@N00,45.777681,4.854626,"summer,france,lyon,69,2007,parcdelatêtedor",Parc de la Tête d'Or,3.0,16,14,8,2007,0,0,17.0,7,2014.0,NaN,NaN,NaN
191512,1140570280,46629827@N00,45.777681,4.854626,"summer,france,lyon,69,2007,parcdelatêtedor",Parc de la Tête d'Or,3.0,16,14,8,2007,0,0,17.0,7,2014.0,NaN,NaN,NaN
383457,3836705013,46629827@N00,45.797000,4.833338,"summer,france,lyon,69,2009,rhônealpes,caluiree...","Église romane Notre-Dame, Île Barbe (île situé...",0.0,15,19,8,2009,0,0,18.0,12,2018.0,NaN,NaN,NaN
387529,3836705013,46629827@N00,45.797000,4.833338,"summer,france,lyon,69,2009,rhônealpes,caluiree...","Église romane Notre-Dame, Île Barbe (île situé...",0.0,15,19,8,2009,0,0,18.0,12,2018.0,NaN,NaN,NaN
392188,3836705013,46629827@N00,45.797000,4.833338,"summer,france,lyon,69,2009,rhônealpes,caluiree...","Église romane Notre-Dame, Île Barbe (île situé...",0.0,15,19,8,2009,0,0,18.0,12,2018.0,NaN,NaN,NaN
37422,4155433121,29795204@N05,45.729984,4.825143,"arnal,arnalphotography,arnalle,arnallephotogra...","Halle Tony Garnier, Lyon",43.0,10,3,12,2009,43,19,3.0,12,2009.0,NaN,NaN,NaN
42021,4155433121,29795204@N05,45.729984,4.825143,"arnal,arnalphotography,arnalle,arnallephotogra...","Halle Tony Garnier, Lyon",43.0,10,3,12,2009,43,19,3.0,12,2009.0,NaN,NaN,NaN
37421,4155433581,29795204@N05,45.729984,4.825143,"arnal,arnalphotography,arnalle,arnallephotogra...","Halle Tony Garnier, Lyon",43.0,10,3,12,2009,43,19,3.0,12,2009.0,NaN,NaN,NaN
42020,4155433581,29795204@N05,45.729984,4.825143,"arnal,arnalphotography,arnalle,arnallephotogra...","Halle Tony Garnier, Lyon",43.0,10,3,12,2009,43,19,3.0,12,2009.0,NaN,NaN,NaN
37420,4155433883,29795204@N05,45.729984,4.825143,"arnal,arnalphotography,arnalle,arnallephotogra...","Halle Tony Garnier, Lyon",43.0,10,3,12,2009,43,19,3.0,12,2009.0,NaN,NaN,NaN
42019,4155433883,29795204@N05,45.729984,4.825143,"arnal,arnalphotography,arnalle,arnallephotogra...","Halle Tony Garnier, Lyon",43.0,10,3,12,2009,43,19,3.0,12,2009.0,NaN,NaN,NaN
37415,4155439017,29795204@N05,45.729984,4.825143,"arnal,arnalphotography,arnalle,arnallephotogra...","Halle Tony Garnier, Lyon",46.0,10,3,12,2009,46,19,3.0,12,2009.0,NaN,NaN,NaN
42016,4155439017,29795204@N05,45.729984,4.825143,"arnal,arnalphotography,arnalle,arnallephotogra...","Halle Tony Garnier, Lyon",46.0,10,3,12,2009,46,19,3.0,12,2009.0,NaN,NaN,NaN
37413,4155440183,29795204@N05,45.729984,4.825143,"arnal,arnalphotography,arnalle,arnallephotogra...","Halle Tony Garnier, Lyon",46.0,10,3,12,2009,46,19,3.0,12,2009.0,NaN,NaN,NaN
42014,4155440183,29795204@N05,45.729984,4.825143,"arnal,arnalphotography,arnalle,arnallephotogra...","Halle Tony Garnier, Lyon",46.0,10,3,12,2009,46,19,3.0,12,2009.0,NaN,NaN,NaN

In [ ]:
# Éliminer les doublons
data_clean = data.drop_duplicates()
print(f"Dataset avant : {data.shape[0]} lignes")
print(f"Dataset après : {data_clean.shape[0]} lignes")
print(f"{data.shape[0] - data_clean.shape[0]} doublons supprimés")

Dataset avant : 420240 lignes
Dataset après : 187598 lignes
232642 doublons supprimés